* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #efeee5;
    padding: 10px;
    overflow-x: hidden;
}

/* -------main section------- */
.main {
    width: 100%;
    margin: 0% auto;
    background: radial-gradient(circle, #1298af, #04343d);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-btns button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

@keyframes main-btns-blink {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.main-text {
    width: 70%;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.main-text h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.main-text p {
    font-size: 20px;
}

.ceo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.ceo-img img {
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

.ceo-img p {
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.main-bottom-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-bottom-btn button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: white;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    font-weight: 600;
    transition: box-shadow .2s ease;
}

.main-bottom-btn button:hover {
    box-shadow: 0px 0px 70px 0px rgb(218, 66, 24);
}

.main-bottom-btn a {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

/* ----logo slider------ */
.logo-slider {
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0px;
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logo-slide-track-left,
.logo-slide-track-right {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.logo-slide-track-left {
    animation: scrolling-left 20s linear infinite;
}

.logo-slide-track-right {
    animation: scrolling-right 20s linear infinite;
}

@keyframes scrolling-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes scrolling-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.logo-slide-track-left img,
.logo-slide-track-right img {
    width: 100px;
    height: 40px;
}

/* ----quote section----  */
.quote {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote-heading {
    width: 40%;
    margin: 50px 0px;
}

.quote h1 {
    font-size: 45px;
    padding: 70px 0px;
    color: black;
}

/* ----brand vs agency section----  */
.brand-agency-section {
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    background-color: #ece6e0;
    padding: 50px 0px;
    border-radius: 15px;
}

.brand-left,
.agency-right {
    width: 47%;
}

.agency-right {
    background: linear-gradient(190deg, #1bb7d3, #04343d);
    border-radius: 20px;
    margin-right: 30px;
    padding: 20px;
    color: #f0efe6;
}

.brand-left {
    margin-left: 30px;
    padding: 30px;
}

.heading-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    color: #f0efe6;
}

.heading-icon button {
    font-size: 20px;
    color: #f0efe6;
    width: 30px;
    height: 30px;
    font-weight: 600;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.heading-icon h2 {
    font-size: 30px;
    font-weight: 600;
}

.brand-left h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.agency-right ul,
.brand-left ul {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.agency-right ul li,
.brand-left ul li {
    margin-bottom: 10px;
    list-style: none;
}

/* ---------slider wrraper------- */

.slider-wrraper {
    background: radial-gradient(circle, #1298af, #04343d);
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.slider-wrraper-arrow {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 40px 40px 0px 40px;
}

.slider-arrows button {
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    font-weight: 600;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.m-btn{
    display: none;
}
.slider-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}

.slider-text h2 {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.slider-text p {
    font-size: 18px;
    color: white;
}

.slider-wrraper-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-wrraper-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateX(50px);
    transition: all 0.8s ease-in-out;
    pointer-events: none;
}

.slider-wrraper-content.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    position: relative;
}

.slider-image {
    width: 40%;
}

.slider-image img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.slider-content-boxes {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.slider-top-box {
    background: #efeee5;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: 150px;
}

.slider-top-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.slider-top-box p {
    font-size: 16px;
    color: rgb(148, 148, 148);
}

.slider-bottom-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    background: #efeee5;
    padding: 20px;
    border-radius: 20px;
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

.box h3 {
    font-size: 18px;
}

.box h1 {
    font-size: 40px;
    font-weight: 600;
}

/* -----choose us------ */
.choose-section {
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.choose-heading {
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
}

.choose-heading h1 {
    font-size: 40px;
    font-weight: 600;
}

.choose-blocks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}

.choose-box {
    background: #ece6e0;
    padding: 20px;
    border-radius: 20px;
    width: 25%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.choose-box h3 {
    font-size: 30px;
}

.choose-box ul {
    font-size: 16px;
}

.choose-box ul li {
    margin-bottom: 10px;
    list-style: none;
    color: rgb(148, 148, 148);
}

/* ------book call section------ */
.book-call-section {
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    background: radial-gradient(circle, #1298af, #04343d);
}

.book-call-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.book-call-left {
    width: 40%;
}
.book-call-left img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 10px;
}

.book-call-right {
    width: 60%;
    color: white;
    padding: 10px;
}

.book-call-right-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
}

.book-call-right-content h1 {
    font-size: 40px;
}

.book-call-right-content p {
    font-size: 16px;
    margin: 10px 0px;

}

.book-call-btn {
    padding: 15px 20px;
    width: 350px;
    margin-top: 40px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: white;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    font-weight: 600;
}


/* -----testimonial section------ */
.testimonial-section {
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.testimonial-ceo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.testimonial-ceo-img img {
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

.testimonial-ceo-img p {
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.testimonial-heading {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-heading h1 {
    font-size: 50px;
}

.testimonial-container {
    width: 100%;
}

.testimonial-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonial-block {
    width: 30%;
    height: 350px;
    background-color: #ffffff40;
    padding: 15px;
    border-radius: 20px;
    cursor: grab;
}

.testimonial-block:active {
    cursor: grabbing;
}

.testimonial-top {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.testimonial-img img {
    width: 80px;
    height: 50px;
}

.testimonial-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: start;
}

.testimonial-text h4 {
    margin-top: 10px;
}

.testimonial-text p {
    font-size: 16px;
    line-height: 1.5;
}

/* -------process & creative flow-------- */
.process-container {
    width: 100%;
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.process-heading {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

.process-heading h1 {
    font-size: 50px;
}

.process-blocks {
    width: 100%;
}

.process-top-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.process-top-block {
    width: 30%;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
}

.process-top-block h2 {
    font-size: 30px;
}

.process-top-block p {
    font-size: 16px;
    margin-top: 20px;
    color: rgb(148, 148, 148);
}

.process-bottom-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.process-bottom-blocks h2 {
    font-size: 30px;
}

.process-bottom-blocks p {
    font-size: 16px;
    margin-top: 20px;
}

.process-bottom-left-block {
    width: 30%;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
}

.process-bottom-right-block {
    width: 60%;
    height: 200px;
    background: radial-gradient(circle, #1298af, #04343d);
    padding: 20px;
    border-radius: 20px;
    color: white;
}

/* -------calender section --------- */
.calender-section {
    width: 100%;
    background: radial-gradient(circle, #1298af, #04343d);
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    border-radius: 15px;
}

.calender-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.calender-left,
.calender-right {
    width: 50%;
    margin: 20px;
}

.calender-left {
    color: white;
}

.calender-left h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.calender-left ul {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.calender-left ul li {
    margin-bottom: 10px;
    list-style: none;
}

.calender-right
.calender-box {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
.calender-box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* -----footer section ------- */
.footer {
    width: 100%;
    background: radial-gradient(circle, #1298af, #04343d);
    max-width: 1600px;
    margin: 0% auto;
    height: auto;
    gap: 20px;
    padding: 50px 0px;
    border-radius: 15px;
    margin-top: 70px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.footer-brand {
    width: 30%;
    color: white;
    margin-left: 20px;
}

.footer-brand h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 200;
}

.footer-brand h2 span {
    font-weight: bold;
}

.footer-brand p {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 15px;
}

.footer-call-btn {
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    width: 60%;
}

.footer-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-col h3 {
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px 30px 0px 30px;
    padding: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    flex-wrap: wrap;
    color: white;
    font-weight: 100;
}

/* ----------- Responsive Styles ----------- */
@media screen and (max-width: 900px) {
    .main-btns button {
        font-size: 14px;
    }
    .main-text {
        width: 80%;
        margin-top: 0;
    }

    .main-text h1 {
        font-size: 40px;
    }
    .main-text p {
        font-size: 14px;
    }
    .ceo-img {
        flex-direction: column;
    }
    .main-btns {
        position: relative;
        width: 100%;
        height: 50px;
        overflow: hidden;
        flex-direction: column ;
        gap: 0 ;
        justify-content: flex-start ;
        align-items: center ;
    }

    .main-btns button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: main-btns-blink 3s linear infinite;
    }

    .main-btns button:nth-child(1) {
        animation-delay: 0s;
    }

    .main-btns button:nth-child(2) {
        animation-delay: 1s;
    }

    .main-btns button:nth-child(3) {
        animation-delay: 2s;
    }
    .main-bottom-btn{
        width: 100%;
         padding: 20px;
    }
    .main-bottom-btn button{
        width: 100%;
    }
    .main-bottom-btn button a {
        font-size: 14px;
    }
    .quote-heading {
        width: 70%;
    }
    .brand-agency-section {
        flex-direction: column;
    }
    .brand-left,
    .agency-right {
        width: 100%;
        margin: 0;
    }
    .slider-wrraper-arrow {
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }
    
    .d-btn {
        display: none;
    }

    .slider-wrraper {
        position: relative;
        height: 950px;
    }

    .m-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: flex;
        gap: 5px;
        display: block;
        padding: 10px;

    }

    .slider-wrraper-content {
        flex-direction: column;
        transform: none ;
    }

    .slider-image,
    .slider-content-boxes {
        width: 100%;
    }

    .slider-bottom-boxes {
        flex-direction: column;
    }

    .slider-image img {
        width: 100%;
        height: 180px;
    }

    .box {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .slider-top-box h3,
    .box h3 {
        font-size: 18px;
    }

    .slider-top-box p,
    .box p {
        font-size: 12px;
        line-height: 1.2;
    }

    .box h1 {
        font-size: 30px;
    }

    .choose-heading {
        width: 90%;
    }
    .choose-blocks {
        flex-direction: column;
    }

    .choose-box {
        width: 100%;
    }
    .book-call-container {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .book-call-left,
    .book-call-right {
        width: 100%;
    }

    .book-call-right-content {
        width: 100%;
        padding: 20px;
    }

    .book-call-right-content h1 {
        font-size: 40px;
    }

    .book-call-right-content p {
        font-size: 16px;
    }

    .book-call-btn {
        font-size: 16px;
        width: 100%;
    }

    .testimonial-ceo-img {
        flex-direction: column;
    }

    .testimonial-heading {
        width: 90%;
    }
    .process-heading {
        width: 90%;
    }

    .process-top-blocks,
    .process-bottom-blocks {
        flex-direction: column;
        gap: 5px;
    }

    .process-top-block,
    .process-bottom-left-block,
    .process-bottom-right-block {
        width: 100%;
    }

    .calender-container {
        flex-direction: column;
        gap: 10px;
    }

    .calender-left,
    .calender-right {
        width: 100%;
        margin: 0;
    }

    .footer-container,
    .footer-columns {
        flex-direction: column;
    }

    .footer-brand,
    .footer-col,
    .footer-bottom {
        width: 100%;
        margin: 0;
    }
    .footer-brand h2,
    .footer-col h3 {
        font-size: 30px;
    }
    .footer-brand {
        padding: 20px;
    }

    .footer-call-btn {
        font-size: 16px;
        width: 100%;
    }

    .footer-columns {
        padding-left: 20px;
        gap: 20px;
    }

    .footer-col ul li a {
        font-size: 14px;
    }

    .footer-bottom {
        gap: 20px;
        text-align: start;
        justify-content: start;
        align-items: center;
    }

    .brand-left,
    .agency-right {
        margin: 0;
    }

    .process-bottom-blocks {
        margin-left: 0;
    }

    .calender-container {
        padding: 0 10px;
    }

}